<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL"
    gamePrice="349,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC"
    gamePrice="249,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="VERY OLD"
    gameType="DISC"
    gamePrice="49,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="VERY BAD"
    gameType="DIGITAL"
    gamePrice="19,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="NOT A GREAT GAME"
    gameType="DIGITAL"
    gamePrice="99,90"
  ></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="YOU'D BE BETTER PLAYING SOMETHING ELSE"
    gameType="DIGITAL"
    gamePrice="99,90"
  ></app-card>
</div>
